@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    .radius#{$infix}	    {border-radius: $border-radius;}
    .radius#{$infix}-small	{border-radius: $border-radius-sm;}
    .radius#{$infix}-large	{border-radius: $border-radius-lg;}
  }
}
